* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: #2a2a2a;
    margin: 24px;
}

h1 {
    color: #e8622e;
}

h2 {
    color: #2a2a2a;
    margin-top: 32px;
    margin-bottom: 8px;
}

/* formas de border-bottom = solid, groove, double  */
header {
    background-color: rgb(241, 241, 241);
    padding: 16px;
    border-bottom: 3px solid #e8622e;
    margin-bottom: 24px;
}

/* "text-decoration" pra decorar o texto o none pra tirar o traço em baixo do link no texto */
nav a {
    color: #e8622e;
    padding: 4px 8px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(235, 233, 233);
    color: #6f6d6d;
}

