:root {
    --color-primary: #9c0b0b;
    --color-text: #0F1115;
    --color-background: #f5f5f5;
    --color-border: #ffffff;
    --color-prymary-dark: #ff3232;
    --color-text2: #284688;

    --radius-small: 0.5rem;
    --radius-medium: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}

.h1-alugar {
    margin-left: 38rem;
    padding: 1.5rem;
}

h1 {
    max-width: 18ch;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.02;
    color: var(--color-primary);
}

h2 {
    color: var(--color-primary);
}

.feature-h2-p {
    color: var(--color-primary);
}

.container {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 4.5rem;
}

.brand {
    color: var(--color-text);
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: none;

    position: absolute;
    left: 6rem;
}

.main-catalogo {
    background-color: var(--color-background)
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-nav a {
    display: inline-block;
    padding: 0.6rem 0.85rem;
    color: var(--color-text);
    border-radius: var(--radius-small);
    text-decoration: none;
}

.main-nav a:hover,
.main-nav a[aria-current="page"] {
    background-color: var(--color-background);
    color: var(--color-text);
}

.site-header {
    background-color: var(--color-border);
    border-bottom: 1px solid var(--color-border);
}

.eyebrow {
    margin-bottom: 0.5rem;
    color: var(--color-prymary-dark);
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.hero {
    padding: 4rem 0 5rem;
}

.hero-content {
    max-width: 48rem;
    margin-right: 38%;

}

.hero-text {
    font-size: 0.9rem;
    max-width: 60ch;
    color: #284688;
}

.hero-actions {
    display: flex;
    gap: 0.75rem;
}


.foto-carro {
    flex-direction: column;
    max-width: 14ch;

    position: absolute;
    left: 55%;
    bottom: 28rem;
      
}

.button {
    padding: 0.75rem 1.1rem;
    border: 1px solid transparent;
    border-radius: var(--radius-small);
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;

    transition:
        transform 0.2s ease,
        border-color 0.2s ease,
        background-color 0.2s ease,
}

.button:hover {
    transform: translateY(-2px);
}

.button-primary {
    background-color: var(--color-primary);
    color: white;
}

.button-primary:hover {
    background-color: #9c0b0b;
}

.button-secondary {
    background-color: transparent;
    border-color: var(--color-background);
    color: var(--color-text);
}

.button-secondary:hover {
    background-color: #9c0b0b;
    color: white;
}

.feature-list {
    display: inline-flex;
    gap: 1rem;
    list-style: none;
}

.feature-card {
    padding: 1.25rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-medium);
    box-shadow: 0.5px 0.5px 0px 0.5px;

    transition:
        transform 0.2s ease,
        border-color 0.2s ease,
        background-color 0.2s ease,
    ;
}


.feature-card strong,
.feature-card span {
    display: grid;
}

.feature-card strong {
    display: flex;
    justify-content: space-evenly;
    padding: 0.100rem;
}

.feature-card img {
    margin-right: 6rem;
    border: 2px solid var(--color-prymary-dark);
    border-radius: 1.5rem;
    
}

.feature-card span {
    color: #6f6a65;
    padding: 1rem;

}

.feature-card:hover {
    transform: translateY(-2px);
    border-color: var(--color-primary);
}

.feature-div-nome {
    margin-top: 0.65rem;
}

.section,
.page-intro {
    padding: 4rem 0;
}

.page-intro {
    background-color: white;
    padding: 20px;
}

.section-heading {
    margin-left: 3rem;
}

.section-highlight {
    background-color: var(--color-border);
    border-bottom: 1px solid var(--color-background); 
    padding: 40px;
}

.section-container {

    padding: 1.5rem;
}

.cta-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    bottom: -45%;
}

/* lst-child serve para escolher ultimo filho */

.cta-content p:last-child {
    margin-bottom: 0;

}

.cta-content p:last-child,
.cta-content h2 {
    margin: 0;
}

.site-footer {
    border-bottom: 1px solid var(--color-background);
    background-color: var(--color-border);
    color: var(--color-primary);
    padding: 2rem 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content a {
    color: var(--color-primary);
    text-decoration: none;
}

/*no lugar do 1fr pode colocar repeat (3, 1fr):*/

.menu-grid {
    display: inline-flex;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 0;
    padding: 0;
    list-style: none;
}


.menu-card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 1.5rem;
    background-color: #ffffff;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-medium);
    box-shadow: 0 0.5rem 1.5rem rgb(42 42 42 / 8%);

    transition:
        transform 0.2s ease,
        box-shadow 0.2 ease,
        border-color 0.2 ease;
}

.menu-card:hover {
    transform: translateY(-0.25rem);
    border-color: var(--color-primary);
    box-shadow: 0 0.8rem 2rem rgb(42, 42, 42 / 12%);
}

.menu-card img {
    border-radius: 1.5rem;
    

}

.menu-card p {
    margin-bottom: 0;
    color: #6f6a65;
}

#div-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tag {
    padding: 0.25rem 0.55rem;
    margin-bottom: 1rem;
    background-color: #fff0e9;
    border-radius: 999px;
    color: var(--color-prymary-dark);
    font-size: 0.75rem;
    font-weight: 700;
}

.menu-card-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #6f6a65;
    font-size: 0.875rem;
}

.price {
    color: var(--color-text);
    font-size: 1.3rem;
}

.questionario {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: start;

    
    padding: 2rem;
    background-color: var(--color-background);
    border-radius: var(--radius-medium);
    box-shadow: 0 0.5rem 1.5rem rgb(42, 42, 42 / 8%);
}

.field {
    margin-left: 4rem;
}


.field label {
    display: block;
    font-weight: 700
}

.field input,
.field select {
    width: 38%;
    padding: 0.25rem;

    border: 1px solid #d5d1ca;
    border-radius: var(--radius-medium);
    background-color: #ffffff;
    color: var(--color-text);
}

.escrita-card {
    font-size: 1rem;
    padding: 0.50rem;
    font-family:'Courier New', Courier, monospace;

    position: absolute;
    left: 55rem;
    bottom: 27rem;
}

.card-pix {
    margin-left: 5.5rem;
    font-size: 1.2rem;
}

.button-alugar {
    position: relative;
    top: 1.5rem;
}

@media (max-width:64rem) {

}

@media (max-width: 48rem) {
    h1 {
        max-width: none;
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    .header-content {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
        padding: 1rem 0;
    }

    .brand {
        text-align: center;
    }

    .hero {
        padding: 3rem 0;
    }

    .hero-actions {
        flex-direction: column;
    }

    .hero-actions button {
        width: 100%;
        text-align: center;
    }

    .section,
    .page-intro {
        padding: 3rem 0;
    }

    .feature-list {
        flex-direction: column ;
    }

}


